/.vs/StackTraceExplorer/v15/*.suo
/StackTraceExplorer/bin
/StackTraceExplorer/obj
/packages
/StackTraceExplorer/*.user
/.vs
/StackTraceExplorer.Tests/bin
/StackTraceExplorer.Tests/obj
/StackTraceExplorer.VS2019/bin
/StackTraceExplorer.VS2019/obj
/StackTraceExplorer.VS2022/bin
/StackTraceExplorer.VS2022/obj
